.masonry-cont {
  display: flex;
  justify-content: center;
  margin-left: -30rem;
}

.masonry {
  display: flex;
  flex-flow: column wrap;
  max-height: 100rem;
}

.masonry-brick {
  margin: 0 3rem 3rem 0; /* Some gutter */
  width:30rem;
}

@media (max-width: 900px) {
  .masonry-cont {
  margin: 0;
  }

  .masonry {
    flex-flow: column nowrap;
    max-height: none;
  }
  .masonry-brick {
    margin: 0 0 3rem 0;
    /* width: 90vw; */
  }
}

@media (max-width: 500px) {
  .masonry-brick {width: 90vw;}

}
